# ==================================================
# ENVIRONMENT
# ==================================================

.env


# ==================================================
# PYTHON
# ==================================================

__pycache__/
*.py[cod]
*$py.class
*.so
.Python


# ==================================================
# DJANGO
# ==================================================

*.log
db.sqlite3
db.sqlite3-journal

app/media/
app/staticfiles/


# ==================================================
# VIRTUAL ENVIRONMENTS
# ==================================================

venv/
env/
.venv/


# ==================================================
# IDE
# ==================================================

.vscode/
.idea/


# ==================================================
# OPERATING SYSTEM
# ==================================================

.DS_Store
Thumbs.db


# ==================================================
# TEST / CACHE
# ==================================================

.pytest_cache/
.coverage
htmlcov/

*.pid